/* ------------------------------------Styles main page------------------------------------*/
:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #FFFFFF;
}

body {
    color: var(--main-text-color);
    font-family: "Roboto", Tahoma, sans-serif;
    letter-spacing: 0.03em;
 }
.list {
    list-style: none;
}
.deco a {
    text-decoration: none;
}

 /*------------------------------------Logo------------------------------------*/
.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-dack { color: var(--title-text-color); }
.logo-light { color: var(--secondary-text-color); }

/*------------------------------------Header------------------------------------*/
.header {
    background-color: #FFFFFF;
}

.header-list, .header-link.current {
    color: var(--accent-color);
}

.header-link, .header-link-nav { 
    color: var(--title-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    Letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus { 
    color: var(--accent-color); 
}

.header-link-nav { 
    font-style: normal;
    color: var(--main-text-color); 
}
.header-link-nav:hover,
.header-link-nav:focus {
    color: var(--accent-color);
}

/*------------------------------------Hero------------------------------------ */
.hero {
    background-color: #2F303A;
}
.hero-title { 
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    Letter-spacing: 0.06em;
    text-transform: uppercase;  
}
.hero-button { 
    color: var(--secondary-text-color); 
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/*------------------------------------Features------------------------------------*/ 
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list-text{
    font-size: 14px;
    line-height: 1.71;
}

/*------------------------------------Work------------------------------------*/
.work-title, .team-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*------------------------------------Team------------------------------------*/
.team {
    background: #F5F4FA;
}

.team-list-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    text-align: center;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center; 
}

/*------------------------------------Footer------------------------------------*/
.footer {
    background-color: #2F303A;
}

.footer-address, .footer-link-nav {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.footer-link-nav {
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-nav:hover,
.footer-link-nav:focus {
    color: var(--accent-color);
}

/*------------------------------------Styles page portfolio------------------------------------*/
.filter-button {
    color: var(--title-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.pictures-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.pictures-text {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.88;
}
